{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>Stats</title>
  
  <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
  <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  
</head>

<body>

  <h1>Hello world!</h1>
  
  <script src="{% static 'js/vendors/jquery-1.11.3.min.js' %}"></script>
  <script src="{% static 'js/vendors/underscore-min.js' %}"></script>
  <script src="{% static 'js/vendors/backbone-min.js' %}"></script>

  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>