{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>Stats</title>
  
  <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
  <link rel="stylesheet" href="{% static 'css/defaults.css' %}" />
  <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  
</head>

<body>
  
  <nav class="nav-bar"><span>Stat Tracker<span></nav>

  <form class="form">
    {% csrf_token %}
    <span class="form-title">Enter Activity</span>
    <input type="text" name="activity" placeholder="activity" />
    <textarea placeholder="description"></textarea>
    <button>submit</button>
  </form>
  
  <script src="{% static 'js/vendors/jquery-1.11.3.min.js' %}"></script>
  <script src="{% static 'js/vendors/underscore-min.js' %}"></script>
  <script src="{% static 'js/vendors/backbone-min.js' %}"></script>

  <script src="{% static 'js/utils/sorted-router.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script>
  
  <script src="{% static 'js/init.js' %}"></script>

</body>

</html>